.type {
    font-weight: 700;
    font-size: x-large;
    color: rgb(91, 112, 182);
}

.name {

    font-weight: 800;
    color: white;
    font-size: 70px;
    margin-top: -20px;
    text-shadow: 1px 1px 6px white;
}

.para {
    justify-content: start;
    text-align: start;
    margin-top: -15px;
    font-size: 20px;
    color: white;
}

.button1 {
    color: white;
    background-color: rgb(91, 112, 182);
    border-radius: 10px;
    padding: 10px;


    border: 2px solid gray;
    box-shadow: 5px 5px 10px grey;
}

.button1:hover {
    background-color: white;
    color: black;
    box-shadow: 8px 8px 25px grey;
}



@keyframes example {
    0% {
        border-radius: 50% 550px 55% 550px;
    }

    25% {
        border-radius: 550px 55% 550px 55%;
    }

    50% {
        border-radius: 5850px 5850px 5850px 5580px;
    }

    75% {
        border-radius: 550px 5850px 5580px 550px;
    }

    100% {
        border-radius: 5850px 550px 550px 5580px;
    }
}

.topImg {
    width: 400px;
    height: 600px;
    object-fit: cover;
    margin-top: -330px;


    border: 2px double white;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;



}





.background {
    height: 480px;
    width: 100%;
    overflow-y: hidden;
    background-position: top;


}







@media screen and (max-width:1080px) {
    .writting {
        margin-top: -180px;
        width: 80%;
        margin-left: 50px;


    }

    .background {
        height: 430px;
        width: 100%;
    }

    .top {
        width: 80%;
        height: 400px;
        border-radius: 50%;
        margin-top: -300px;



    }

    .name {

        font-weight: 700;
        color: white;
        font-size: 40px;
        margin-top: 190px;

    }

    .para {
        justify-content: start;
        text-align: start;
        margin-top: -15px;
        font-size: 15px;
    }
}